body {
  background-color: #C8C6AF;
  color: #2274A5;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.default-flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.padding {
  padding: 10px;
}

input[type=number], select {
  width: 100px;
  padding: 10px 15px;
  margin: 8px 0;
  border: 1px solid #A7CDBD;
  border-radius: 4px;
}

input:focus{
  outline: none;
}

.title {
  font-size: 2rem;
  text-align: center;
}

.flexRow {
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.flexColumn {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.marginSpace {
  margin: 5px 5px 5px 5px;
}

.installmentCard {
  width: 130px;
  border: 1px solid #2274A5;
  background-color: #83BCFF;
  border-radius:6px;
  color:#222222;
  font-size: small;
}

.installmentMonth {
  flex: 0 1 auto;
}

.installmentGrid {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.rowWrap {
  flex-flow: row wrap;
}

.columnNowrap {
  flex-flow: column wrap;
}

.flexDirectionRow {
  display: flex;
  flex-direction: row;
}

