.title {
  font-size: 2rem;
  text-align: center;
}

.flexRow {
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.flexColumn {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.marginSpace {
  margin: 5px 5px 5px 5px;
}

.installmentCard {
  width: 120px;
  border: 1px solid gray;
}

.installmentMonth {
  flex: 0 1 auto;
}

.installmentGrid {
  width: 80%;
  padding: 10px;
  display: flex;
}

.rowWrap {
  flex-flow: row wrap;
}

.columnNowrap {
  flex-flow: column wrap;
}

.flexDirectionRow {
  display: flex;
  flex-direction: row;
}
